@charset "UTF-8";

/*
--caf-noir: #533e2dff;
--golden-brown: #a27035ff;
--lion: #b88b4aff;
--citron: #ddca7dff;
--vanilla: #f7e7a7ff;
*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

/*font-family: 'M PLUS Rounded 1c', sans-serif;*/

@font-face {
    font-family: 'Havana';
    src: 
    url('fontes/Colonial\ Havana.otf') format('opentype'),
    url('fontes/ColonialHavana-Clara.otf') format('opentype'),
    url('fontes/HabanaColonial-Bold.otf') format('opentype');
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes strongfalse {
    from {
        color: white;
    }
    to {
        color: rgb(210, 1, 1);
    }
}

@keyframes scale {
    0% {
        font-size:"";
    }
    25% {
        font-size: calc(var(--tamanhofonte_p) * 0.4);
    }
    100% {
        font-size:"";
    }
}

@keyframes lost {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        translate: 0 0;
    }
}

@keyframes mask {
    from {
        color: "";
    }
    to {
        color: rgba(255, 255, 255, 0);
        -webkit-text-stroke: 1px white;
    }
}

* {
    margin: 0px;
    padding: 0px;
    border: 1px dashed black;
}

:root {
    --cafe: #533e2dff;
    --brown: #a27035ff;
    --lion: #b88b4aff;
    --citron: #ddca7dff;
    --vanilla: rgb(253, 246, 218);

    --fontprincipal: 'Havana', sans-serif;
    --fontnormal: 'M PLUS Rounded 1c', sans-serif;
    
    --tamanhofonte_h1: 10em;
    --tamanhofonte_sub: 2em;
    --tamanhofonte_p: 4em; 

}

strong.false {
    font-weight: normal;
    animation: strongfalse linear 10s both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 50%;
}

body {
    background-color: black;
    color: white;
}

header {
    background-color: var(--cafe);
    padding-top: 10vh;
    padding-bottom: 15vh;
    box-shadow: 0px 5x 5px #533e2dff;
}
header h1 {
    font-family: var(--fontprincipal);
    font-size: var(--tamanhofonte_h1);
    color: var(--brown);
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
header p {
    font-family: var(--fontnormal);
    font-size: var(--tamanhofonte_sub);
    color: var(--citron);
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;    
}

div {
    padding-top: 50vh;
    padding-bottom: 50vh;
}

div p {
    font-family: var(--fontnormal);
    font-size: var(--tamanhofonte_p);
    padding-left: 30px;
}

div#v1 p {
    animation: appear 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

div#v2 p {
    animation: appear 2s ease-in-out;
    animation-timeline: view();
    animation-range: 100%;
}

div#v3 p {
    animation: appear 2s ease-in-out;
    animation-timeline: view();
    animation-range: 100%;
}

div#v3 > span {
    font-family: var(--fontnormal),monospace;
    margin-right: -20px;
}

span#principal::after {
    content: "\00A0";
}

span#d {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
span#o {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-delay: 1s;
    animation-range: cover 0% cover 100%;
}
span#m {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-delay: 2s;
    animation-range: cover 0% cover 100%;
}
span#i {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-delay: 3s;
    animation-range: cover 0% cover 100%;
}
span#n {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-delay: 4s;
    animation-range: cover 0% cover 100%;
}
span#_o {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-delay: 5s;
    animation-range: cover 0% cover 100%;
}

div#v4 p {
    animation: lost 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}

div#v5 p span::after {
    content: '\00A0';
}

div#v5 p span {
    animation: mask 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}

div#v6 p span::after {
    content: '\00A0';
}

div#v6 p span {
    animation: appear 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}