@charset "UTF-8";

/*
--caf-noir: #533e2dff;
--golden-brown: #a27035ff;
--lion: #b88b4aff;
--citron: #ddca7dff;
--vanilla: #f7e7a7ff;
*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

/*font-family: 'M PLUS Rounded 1c', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

/* font-family: 'Space Mono', monospace; */

@font-face {
    font-family: 'Havana';
    src: 
    url('fontes/Colonial\ Havana.otf') format('opentype'),
    url('fontes/ColonialHavana-Clara.otf') format('opentype'),
    url('fontes/HabanaColonial-Bold.otf') format('opentype');
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        translate: 0 0;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        translate: 0 0;
    }
    100% {
        opacity: 0;
        translate: 0 0;
    }
}

@keyframes strongfalse {
    from {
        color: white;
    }
    to {
        color: rgb(210, 1, 1);
    }
}

@keyframes scale {
    0% {
        font-size:"";
    }
    25% {
        font-size: calc(var(--tamanhofonte_p) *1.5);
    }
    100% {
        font-size:"";
    }
}

@keyframes lost {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        translate: 0 0;
    }
}

@keyframes mask {
    from {
        color: "";
    }
    to {
        color: rgba(255, 255, 255, 0);
        -webkit-text-stroke: 1px white;
    }
}

@keyframes gum_estava {
    0% {
        color: rgb(0,0,0);
        text-shadow: 0px0px 0px black;
    }
    50% {
        color: rgba(0, 0, 0, 0.1);
        text-shadow: 100px -50px 0px black;

    }
    100% {
        color: rgb(0,0,0);
        text-shadow: 0px0px 0px black;
    }
}
@keyframes gum_pegada {
    0% {
        color: black;
        text-shadow: 0px0px 0px black;
    }
    50% {
        color: rgba(0, 0, 0, 0.1);
        text-shadow: -50px 50px 0px black;

    }
    100% {
        color: black;
        text-shadow: 0px0px 0px black;
    }
}
@keyframes gum_cara {
    0% {
        color: black;
        text-shadow: 0px0px 0px black;
    }
    50% {
        color: rgba(0, 0, 0, 0.1);
        text-shadow: 20px 100px 0px black;
    }
    100% {
        color: black;
        text-shadow: 0px0px 0px black;
    }
}

@keyframes bebado {
    0% {
        transform: translateY(30px);
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
    }
    50% {
        transform: translateY(0px);
        text-shadow: 0px 10px 0px rgba(0, 0, 0, 0.2);


    }
    100% {
        transform: translateY(30px);
        text-shadow: 0px -10px 0px rgba(0, 0, 0, 0.9);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes weak {
    0% {font-weight: 900;}
    10% {font-weight: 800;}
    20% {font-weight: 700;}
    30% {font-weight: 600;}
    40% {font-weight: 500;}
    50% {font-weight: 400;}
    60% {font-weight: 300;}
    70% {font-weight: 200;}
    80% {font-weight: 100;}
    100% {font-weight: 100;}
}

* {
    margin: 0px;
    padding: 0px;
    /* border: 1px dashed white; */
}

:root {
    --cafe: #533e2dff;
    --brown: #a27035ff;
    --lion: #b88b4aff;
    --citron: #ddca7dff;
    --vanilla: rgb(253, 246, 218);

    --fontprincipal: 'Havana', sans-serif;
    --fontnormal: 'M PLUS Rounded 1c', sans-serif;
    
    --tamanhofonte_h1: 20vw;
    --tamanhofonte_sub: 3vw;
    --tamanhofonte_p: 5vw; 

}

strong.false {
    font-weight: normal;
    animation: strongfalse linear 10s both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 50%;
}

body {
    background-image: url(imagens/smoke.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/* suavizar mais o header */
header {
    /* background-image: linear-gradient(to bottom, var(--cafe)45%, transparent); */
    background-color: var(--cafe);
    padding-top: 25vh;
    padding-bottom: 20vh;
}
header h1 {
    font-family: var(--fontprincipal);
    font-size: var(--tamanhofonte_h1);
    color: var(--brown);
    width: 90%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}
header p {
    font-family: var(--fontnormal);
    font-size: var(--tamanhofonte_sub);
    color: var(--citron);
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;    
}

section {
    background-attachment: fixed;
}

section.normal {
    background-color: white;
    color: black;
}

section.image p:not(.except) {
    background-color: rgba(184, 138, 74, 0.8);
    display: inline-block;
    margin: auto;
    border-top-right-radius: 20px;
    padding: 10px;
    box-shadow: -3px 10px 9px rgba(0, 0, 0, 0.5);
}

section.image p.except {
    background-color: rgba(184, 138, 74, 0.8);
    display: inline-block;
    margin: auto;
    padding: 10px;

}


div {
    padding-top: 30vh;
    padding-bottom: 30vh;
}

div p {
    font-family: var(--fontnormal);
    font-size: var(--tamanhofonte_p);
    padding-left: 30px;
}

div#v1 p {
    animation: appear 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}


div#v2 p {
    animation: appear 2s ease-in-out;
    animation-timeline: view();
    animation-range: 100%;
}

div#v3 {
    background-image: url(imagens/domino.jpg);
    background-size: cover;
    background-attachment: fixed;

}

div#v3 p {
    animation: appear 2s ease-in-out;
    animation-timeline: view();
    animation-range: 100%;
}
div#v3 > span {
    font-family: var(--fontnormal),monospace;
    margin-right: -20px;

}
span.principal::after {
    content: "\00A0";
}
span#d {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
span#o {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-delay: 1s;
    animation-range: cover 0% cover 100%;
}
span#m {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-delay: 2s;
    animation-range: cover 0% cover 100%;
}
span#i {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-delay: 3s;
    animation-range: cover 0% cover 100%;
}
span#n {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-delay: 4s;
    animation-range: cover 0% cover 100%;
}
span#_o {
    animation: scale 5s ease-in-out;
    animation-timeline: view();
    animation-delay: 5s;
    animation-range: cover 0% cover 100%;
}


div#v4 p {
    animation: lost 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}

div#v5 {
    background-image: url(imagens/mascara.jpg);
    background-size: cover;
    background-attachment: fixed;


}

div#v5 p span::after {
    content: '\00A0';
}
div#v5 p span {
    animation: mask 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}


div#v6 p {
    text-align: center;
}
div#v6 p span::after {
    content: '\00A0';
}
div#v6 p span#estava {
    animation: gum_estava 9s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
div#v6 p span#pegada {
    animation: gum_pegada 3s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
div#v6 p span#cara {
    animation: gum_cara 6s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}


div#v7 {
    position: relative;
}
div#v7 section {
    
    padding: 0px;
    height: 50%;
    animation: appear 5s ease-in-out;
    animation-timeline: view();
    animation-range: cover -90% cover 100%;
    animation-delay: 3s;
}
div#v7 div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: white;
    padding-top: 20vh;
    padding-bottom: 20vh;
} 

div#v7 section#secesquerda{
    transform: rotateY(180deg);
    
}
div#v7 section p#direita {
    position: absolute;

    padding-left: 0px;
    padding-right: 0px;

    top: 50%;
    left: 50%;

    transform: translate(5%, -50%);
    width: 30%;

    text-align: left;
}
div#v7 section p#esquerda {
    position: absolute;

    padding-left: 0px;
    padding-right: 0px;

    top: 50%;
    left: 50%;

    transform: translate(10%, -50%);
    width: 30%;
    text-align: left;

    /* animation: opacity 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%; */
}


div#v8 {
    background-image: url(imagens/old.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    /* animation: appear 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%; */
}

div#v9 p {
    display: inline-block;
}
div#v9 #stava, #etava, #esava, #estva, #estaa, #estav, #ebado, #bbado, #beado, #bebdo, #bebao, #bebad, #virgula {
    padding: 0px;
}
div#v9:not( #stava, #etava, #esava, #estva, #estaa, #estav #ebado, #bbado, #beado, #bebdo, #bebao, #bebad, #virgula) {
    text-align: center;
}

/*ESTAVA*/
div#v9 #stava {        
    animation: bebado 4s ease-in-out infinite alternate;
    transform: translateY(30px);
}
div#v9 #etava {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 1s;
    transform: translateY(30px);


}
div#v9 #esava {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 2s;
    transform: translateY(30px);

}
div#v9 #estva {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 3s;
    transform: translateY(30px);

}
div#v9 #estaa {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 4s;
    transform: translateY(30px);

}
div#v9 #estav {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 5s;
    transform: translateY(30px);

}

/* BÊBADO, */
div#v9 p#ebado::before {
    content: "\00A0";
}
div#v9 #ebado {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 6s;
    transform: translateY(30px);


}
div#v9 #bbado {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 7s;
    transform: translateY(30px);

}
div#v9 #beado {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 8s;
    transform: translateY(30px);

}
div#v9 #bebdo {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 9s;
    transform: translateY(30px);

}
div#v9 #bebao {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 10s;
    transform: translateY(30px);

}
div#v9 #bebad {        
    animation: bebado 4s ease-in-out infinite alternate;
    animation-delay: 11s;
    transform: translateY(30px);

}
div#v9 #virgula {
    animation: bebado 4s infinite alternate;
    animation-delay: 12s;
    transform: translateY(30px);

}

div#v10 {
    font-style: oblique;
    animation: lost 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}

div#v11 p {
    font-size: calc(var(--tamanhofonte_p) /1.5);
    font-family: 'Space Mono', monospace;
    width: 35ch;
    white-space: nowrap;
    overflow: hidden;

    animation: typing 2s steps(35);
    animation-range: cover 0% cover 50%;
    animation-timeline: view();
}

div#v12 p {
    display: inline-block;
    font-weight: bold;
}

div#v12 p#inofensivo {
    /* font-family: 'Space Mono', monospace; */
    font-weight: 900;
    display: inline-block;
    padding-left: 0px;

    animation: weak 5s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
} 

